<h3>投稿写真一覧</h3>

<div class="post-container">
    <% @posts.each do |post| %>
    <div class="post-title">
        <%= post.title %>
    </div>
    <div class="post-image">
        <%= image_tag post.image.url, size: '300x300' %>
    </div>
    
    <div id="favorite_btn_<%= post.id %>">
        <%= render 'favorites/favorite', post: post %>
    </div>
    <% end %>
</div>

<%# js使えてるかのテスト
「テスト」ではなく「成功」と表示されてればjs動いてる

<p>テスト</p>
<script type="text/javascript">
    $(document).ready(function() {
        $("p").text("成功！！");
    });
</script> %>