li {
    list-style: none;
}

// 'users/showのレイアウト'
.side{
    display: flex;
    flex-direction: column;
}
.mypage {
    display: grid;
    grid-template-areas: 
        "a c . ."
        "b c . .";
    .side_profile{
        grid-area: a;
        border: solid;
        padding: 10px;
        width: max-content;
        height: max-content;
    }
    .side_form {
        grid-area: b;
        border: solid;
        padding: 10px;
        width: max-content;
        height: max-content;
    }
    .posts {
        // text-align: center;
        grid-area: c;
        border: solid;
        padding-left: 10px;
        // .post_title{
        //     border: solid;
        // }
    }
}

